* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}

header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;

    & a {
        color: white;
        margin-right: 40px;
    }
}

section:first-of-type {}

section:nth-of-type(2) {
    height: 90vh;
    width: 90vw;
    overflow: hidden;

    & .list-item {
        height: 100%;
        width: 100%;
        position: absolute;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    & .thumb{
        position: absolute;
        bottom: 50px;
        left: 50%;
        display: flex;
        gap: 20px;

        & .thumb-item{
            width: 135px;
            height: 200px;
            position: relative;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}